{% extends "base-layout.html" %}

{% block title %}
Gradebook
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='styles/grades.css')}}"/>
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-12">
    <h2>{{course.semester}}/{{course.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-12">
    <table class="table table-responsive table-bordered" id="{{course.id}}">
      <thead>
        <tr>
          <td>Assignment Group</td>
          <td>Problem</td>
          <td>Status</td>
          <td>Is Late</td>
          <td>Max Score</td>
          <td>Your Score</td>
        </tr>
      </thead>
      <tbody>
        <!-- Each assignment has a row per problem with columns for the name, max score and student score -->
        {% for a in course.assignments %}
        <tr>
          <td rowspan="{{a.problems|length + 1}}">{{a.name}}</td>
        </tr>
        {% for p in a.problems|sort(attribute="name") %}
        <tr>
          <td>{{p.name}}</td>
          {% with sub = p.getLatestSubmission(current_user) %}
          {% if sub == None %}
          <td>Unsubmitted</td>
          <td></td>
          <td>{{p.gradeColumn.maxScore}}</td>
          <td>0.00</td>
          {% else %}
          {% with c,text = sub.getStatus() %}
          <td class="{{c}}">
          {{text}}
          <td style="text-align:center" class={% if sub.isLate %}"danger"{% else %}"{{c}}" {%endif%}>{% if sub.isLate %}<span class="octicon octicon-check"></span>{%endif%}</td>
          </td>
          <td>{{sub.problem.gradeColumn.maxScore}}</td>
          <td class="userscore">{{sub.grade.totalScore()}}</td>
          {% endwith %}
          {% endif %}
          {% endwith %}
        </tr>
        {% endfor %}
        {% endfor %}
        <tr> <!-- Row at the bottom for the total -->
          <td>TOTAL</td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{course.gradeBook.totalPoints()}}</td>
          <td id="userTotalScore">Calculating</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-sm-2"></div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<!-- 
<script>
$(function() {
  data = {'cid': {{cid|tojson}}};
  $.ajax({
    url:"{{url_for('studentRenderGrades')}}",
    type:'POST',
    async:true,
    contentType:'application/json',
    data: JSON.stringify(data),
    dataType: 'json',
    success: function(data) {
      console.log(data)
      $('#'+data.cid+' tbody').append(data.res);
    }
  });
})
</script>
 -->

<script language="javascript" type="text/javascript">
    var scores = document.getElementsByClassName('userscore');
    var sum = 0;
    for(var i = 0; i < scores.length; i ++) {
      sum += isNaN(scores[i].innerHTML) ? 0 : parseFloat(scores[i].innerHTML);
    }
    document.getElementById('userTotalScore').innerHTML = sum;
</script>

{% endblock %}
