{% extends "base-layout.html" %}

{% block title %}
Edit Problem
{% endblock %}

{% block styles %}
{{super()}}
<link id="bsdp-css" href="{{url_for('static', filename='eternicode-bootstrap-datepicker/css/datepicker3.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/assets/pygments.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/assets/prettify/prettify.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/assets/bootstrap/css/bootstrap-responsive.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/css/bootstrap-timepicker.css')}}" rel="stylesheet">
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="heading">
      <ol class="breadcrumb">
        <li><a href="{{url_for('instructorCourseSettings', cid=course.id)}}">{{course.name}}</a></li>
        <li>{{assignment.name}}</li>
        <li>{{problem.name}}</li>
      </ol>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <form class="form" role="form" action="{{url_for('instructorSaveProblemSettings', pid=problem.id)}}" method="POST" id="settingsForm">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-sm-12">
          <h4>Problem Information</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          {{ render_field(form.name, placeholder="eg. Problem 1")}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          {{ render_field(form.date, placeholder="eg. 10/4/2014")}}
        </div>
        <div class="col-sm-6">
          {{ render_field(form.time, placeholder="eg. 11:59PM")}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          {{ render_field(form.strictFiles, placeholder="eg. foo.py, bar.py")}}
        </div>
        <div class="col-sm-6">
          {{ render_field(form.requiredFiles, placeholder="eg. foo.py, bar.py")}}
        </div>
      </div>

      {# Unfortunately we can't use macros for these because of the extra buttons #}
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="{{form.problemPage.id}}" class="control-label">{{form.problemPage.label}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{url_for('instructorMakeProblemPage', pid=problem.id, t='problemPage')}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span> Make Page</a>
            {% if problem.problemPage != None %}
            <a target="_blank" href="{{problem.problemPage}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-share"></span> Test Link</a>
            {% endif %}
            {{form.problemPage(placeholder="eg. cs.hmc.edu/cs5/hw3.html", class="form-control")}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="{{form.gradeNotes.id}}" class="control-label">{{form.gradeNotes.label}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{url_for('instructorMakeProblemPage', pid=problem.id, t='notes')}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span> Make Page</a>
            {% if problem.gradeNotes != None %}
            <a target="_blank" href="{{problem.gradeNotes}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-share"></span> Test Link</a>
            {% endif %}
            {{form.gradeNotes(placeholder="eg. cs.hmc.edu/cs5/hw3grading.html", class="form-control")}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h4>Problem Rubric</h4>
          <table class="table table-bordered table-responsive" id="rubricTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Add/Remove</th>
              </tr>
            </thead>
            <tbody>
              <!-- Javascript will put the rubric rows in here :D-->
              <tr id="rubricTotalRow">
                <td><b>Total</b></td>
                <td id="rubricTotal">{{problem.totalPoints()}}</td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <input class="form-control" id="rubricName" placeholder="eg. Auto-grader points" value="">
                </td>
                <td>
                  <input class="form-control" id="rubricPoints" placeholder="eg. 5.00" value="" type="decimal">
                </td>
                <td><button type="button" class="btn btn-primary btn-s" onclick="addRubricRow()"><span class="glyphicon glyphicon-plus"></span></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h4>Problem Settings</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          {{ render_checkbox(form.allowPartners)}}
        </div>
        <div class="col-sm-6">
          {{render_checkbox(form.isOpen)}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          {{render_checkbox(form.releaseAutoComments)}}
        </div>
        <div class="col-sm-6">
          {{render_checkbox(form.autoGradeOnly)}}
        </div>
      </div>

      <div style="display:none;">
        {{form.hiddentime()}}
      </div>

      <div style="display:none;">
        {{form.hiddenRubric()}}
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button id="save" type="button" class="btn btn-success" onclick="formSubmit()"><span class='glyphicon glyphicon-saved'></span> Saved</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h3>Tests</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Test Filename</th>
          <th>Test Language</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for f in testFiles %}
        <tr>
          <td>{{f[0]}}</td>
          <td>{{f[1]}}</td>
          <td style="text-align:center"><a href="{{url_for('instructorEditTestFile', pid=problem.id, filename=f[0])}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span></a></td>
          <td style="text-align:center"><a href="{{url_for('remTestFile', pid=problem.id, filename=f[0])}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></a></td>
        </tr>
        {% endfor %}
        <form class="form" role="form" method="POST" enctype="multipart/form-data" action="{{url_for('addTestFile', pid=problem.id)}}">
        <tr>
          <td>{{testForm.hidden_tag()}}{{testForm.testFile(class="form-control")}}</input></td>
          <td>
            {{testForm.testType(class="form-control")}}
          </td>
          <td style="text-align:center"><button type="submit" class="btn btn-primary btn-s"><span class="glyphicon glyphicon-plus"></span></button></td>
          <td class="active"></td>
        </tr>
        </form>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap-timepicker/assets/prettify/prettify.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap-timepicker/js/bootstrap-timepicker.js')}}"></script>
<script src="{{url_for('static', filename='moment.js')}}"></script>

<script>
//This script is helper functions for handling onchange and save events
function buildChangeFunc(name){
  $(name).change(function(){
    unsaved();
    $(this).parent().addClass("has-warning");
  });
}

function unsaved(){
  $("button#save").removeClass("btn-success")
  $("button#save").addClass("btn-warning")
  $("button#save").html("<span class='glyphicon glyphicon-save'></span> Unsaved")
}

function saved(){
  $("button#save").removeClass("btn-warning")
  $("button#save").addClass("btn-success")
  $("button#save").html("<span class='glyphicon glyphicon-saved'></span> Saved")
}

function cleanID(id){
  var newId = id.replace(/\s/g, '_');//split(' ').join('_')
  var newId = newId.replace(/\W/g, '')
  return newId
}
</script>

<script>
//This script handles all of the asyncrhonous work being done to make the page
//nice

//We make some global variables so that we can track some stuff we might need
//The current rubric. We will edit this as needed
var rubric = {{problem.rubric|dedecimal|tojson}};
//Track if there are changes. This is used for confirmation when adding tests
var change = false;

function addRubricRow(){
  var key = $("#rubricName").val()
  var points = Number($("#rubricPoints").val())
  if (key == ""){
    alert("You must provide a name for the rubric section")
    return false
  }
  if (isNaN(points)){
    alert("You must provide a valid amount of points")
    return false
  }
  if (rubric[key] != undefined) {
    console.log("UPDATING");
    rubric[key] = points.toFixed(2)
    var oldPoints = Number($("#rubric_" + cleanID(key) + " td:nth-child(2)").html());
    var totalPoints = Number($("#rubricTotal").html())
    totalPoints -= oldPoints;
    totalPoints += points;
    $("#rubricTotal").html(totalPoints.toFixed(2))
    $("#rubric_" + cleanID(key) + " td:nth-child(2)").html(points.toFixed(2));
    if(!$("#rubric_" + cleanID(key)).hasClass("success")){
      $("#rubric_" + cleanID(key)).addClass("warning");
    }
  } else if ($("#rubric_" + cleanID(key)).html() != undefined) {
    console.log("UPDATEING DELETED");
    $("#rubric_" + cleanID(key) + " td:nth-child(2)").html(points.toFixed(2));
    unmarkRow(key)
    $("#rubric_" + cleanID(key)).addClass("warning");
  } else {
    console.log("ADDING");
    rubric[key] = points.toFixed(2);
    $('#rubricTotalRow').before("<tr id='rubric_"+cleanID(key)+"' class='success'></tr>")
    $('#rubric_'+cleanID(key)).append("<td>"+key+"</td>")
    $('#rubric_'+cleanID(key)).append("<td>"+rubric[key]+"</td>")
    $('#rubric_'+cleanID(key)).append("<td><button type='button' class='btn btn-xs btn-danger' onclick=\"markRowForRemoval('"+key+"')\"><span class='glyphicon glyphicon-minus'></span></button></td>")
    var totalPoints = Number($("#rubricTotal").html())
    totalPoints += points;
    $("#rubricTotal").html(totalPoints.toFixed(2))
  }
  unsaved();
}

function markRowForRemoval(key){
  var totalPoints = Number($("#rubricTotal").html())
  $('#rubric_'+cleanID(key)).addClass("danger");
  totalPoints -= Number(rubric[key]);
  delete rubric[key]
  $("#rubricTotal").html(totalPoints.toFixed(2))
  unsaved();
  $('#rubric_'+cleanID(key)+' td:last').html("<button type='button' class='btn btn-xs btn-primary' onclick=\"unmarkRow('"+key+"')\"><span class='glyphicon glyphicon-plus'></span></button>")
  return false;
}

function unmarkRow(key){
  var totalPoints = Number($("#rubricTotal").html())
  $('#rubric_'+cleanID(key)).removeClass("danger");
  var points = Number($("#rubric_"+cleanID(key)+" td:nth-child(2)").html())
  rubric[key] = points.toFixed(2);
  totalPoints += points
  $("#rubricTotal").html(totalPoints.toFixed(2))
  unsaved();
  $('#rubric_'+cleanID(key)+' td:last').html("<button type='button' class='btn btn-xs btn-danger' onclick=\"markRowForRemoval('"+key+"')\"><span class='glyphicon glyphicon-minus'></span></button>")
  return false;
}

function formSubmit() {
  //Put the rubric into a hidden form field so that changes can be made
  //to the rubric during the save operation
  $("#hiddenRubric").val(JSON.stringify(rubric));
  console.log(rubric);
  $("#settingsForm").submit();
}
</script>

<script type="text/javascript">
//This scipt handles all of the setup of the page.
$(function(){
  //Fill in the form for the name of the submission if it has been named
  if ("{{problem.name}}"!="") {
    $('#name').val("{{problem.name}}")
    $('#allowPartners').prop("checked", {{problem.allowPartners|tojson}})
    $('#releaseAutoComments').prop("checked", {{problem.releaseAutoComments|tojson}})
    $('#autoGradeOnly').prop("checked", {{problem.autoGradeOnly|tojson}})
    $('#isOpen').prop("checked", {{problem.isOpen|tojson}})
  }

  {% if problem.duedate == None %}
  //Set default values for the submission
  var d = new Date();
  $('#time').val("11:59 PM")
  $('#date').val((d.getMonth()+1) + "/" + d.getDate() + "/" + d.getFullYear())
  {% else %}
  var m = new moment("{{problem.duedate.isoformat()}}" + "Z");
  $('#date').val(m.format('L'))
  $('#time').val(m.format('h:mm a'))
  {% endif %}

  {% if problem.gradeNotes != None %}
  $('#gradeNotes').val("{{problem.gradeNotes}}")
  {% endif %}

  {% if problem.problemPage != None %}
  $('#problemPage').val("{{problem.problemPage}}")
  {% endif %}

  {% if problem.requiredFiles != None %}
  $('#requiredFiles').val("{{problem.requiredFiles}}")
  {% endif %}

  {% if problem.strictFiles != None %}
  $('#strictFiles').val("{{problem.strictFiles}}")
  {% endif %}

  //Turn the forms into a date picker and time picker
  $('#date').datepicker({format:'mm/dd/yyyy', todayHighlight:true});
  $('#time').timepicker({});
  //build all the functions that change the symbol to unsaved during changes
  buildChangeFunc("#name");
  buildChangeFunc("#allowPartners");
  buildChangeFunc("#releaseAutoComments");
  buildChangeFunc("#autoGradeOnly");
  buildChangeFunc("#isOpen");
  buildChangeFunc("#gradeNotes");
  buildChangeFunc("#problemPage");
  buildChangeFunc("#requiredFiles");
  buildChangeFunc("#strictFiles");
  saved();
  //We have to remove has-warning from the time field for some reason
  $("#time").parent().removeClass("has-warning");
  makeRubricTable();
});


$('#date').change(function(){
  d = new Date($('#date').val() + " " + $('#time').val());
  $('#hiddentime').val( d.toISOString());
  unsaved();
  $(this).parent().addClass("has-warning");
});

$('#time').change(function(){
  d = new Date($('#date').val() + " " + $('#time').val());
  $('#hiddentime').val( d.toISOString());
  unsaved();
  $(this).parent().addClass("has-warning");
})

function makeRubricTable(){
  totalPoints = 0
  for(var key in rubric){
    $('#rubricTotalRow').before("<tr id='rubric_"+cleanID(key)+"'></tr>")
    $('#rubric_'+cleanID(key)).append("<td>"+key+"</td>")
    $('#rubric_'+cleanID(key)).append("<td>"+rubric[key]+"</td>")
    $('#rubric_'+cleanID(key)).append("<td><button type='button' class='btn btn-xs btn-danger' onclick=\"markRowForRemoval('"+key+"')\"><span class='glyphicon glyphicon-minus'></span></button></td>")
    totalPoints += Number(rubric[key]);
  }
  $('#rubricTotal').html(totalPoints.toFixed(2))
}

</script>
{% endblock %}
