<html>
<head>
  <style>
  button {
    font:  12px Helvetica;
    text-decoration: none;
    background-color: #337ab7;
    text-decoration: none;
    color: #ffffff;
    border-radius:3;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor:pointer;
  }

  a{
    cursor:pointer;
  }
  </style>
</head>
<body>
  <div>
    <a class="button" href="{{recoveryURL}}">
      <button>Reset Password</button>
    </a>
  </div>

  <p>  
  If you didn't request a password reset
  and you think this has been recieved in error please contact your system
  administrator.
  </p>
</body>
</html>